<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <title> - 登录</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/plugin/font-awesome-4.7.0/css/font-awesome.css?v=4.7.0" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <script>
        function relocation(username,password) {
            var s1=username.value;
            var s2=password.value;
            var s3=getQueryString("service");
            window.location.href="http://127.0.0.1:8080/login?service="+s3+"&amp;username="+s1+"&amp;password="+s2;
            <!--document.getElementById('form1').action="http://127.0.0.1:8080/login?service="+s3+"&amp;username="+s1+"&amp;password="+s2;-->
            <!--document.getElementById("form1").submit();-->
        }
        function getQueryString (name) {
               var ll=location.href;
               var args=ll.split("=");
               return args[1];
        }
    　　

    </script>

</head>

<body class="signin" >
<div class="signinpanel">
    <div class="row">
        <div class="col-sm-12">

            <form id="form1" class="m-t" role="form"  method="post">
                <p class="m-t-md">欢迎登录</p>
                <div class="form-group">
                    <div class="uname"/> <input name="username" type="text" class="form-control" placeholder="用户名" required=""/>
                </div>
                <div class="form-group">
                    <div class="pword"/><input name="password" type="password" class="form-control" placeholder="密码" required=""/>
                </div>

            </form>
            <button type="button" class="btn" onclick="relocation(form1.username,form1.password)" >登 录</button>
        </div>
    </div>
</div>
</body>

</html>
